# google is used for gemini models, all other models are BYOK
GOOGLE_GENERATIVE_AI_API_KEY=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
auth_DATABASE_URL=""

# Better Auth Stuff
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= #Base URL of your app

# Email Setup
SMTP_ADDRESS=""
SMTP_PASSWORD=""

# Settings for Quntem Mail, Easy email for only £1.50 p/m @ mail.qplus.cloud 😊
# Change if you want to use a different provider, but some form of email is required for organizations to work
SMTP_HOST="mail.qplus.cloud"
SMTP_PORT="587"